<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@^6.0.0/css/materialdesignicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://fonts.cdnfonts.com/css/nunito" rel="stylesheet" />
  </head>

  <body>
    <div id="app" style="min-height: 100vh">
      <q-layout view="hhh Lpp fFf" container style="height: 100vh">
        <q-page-container class="bg-dark-page">
          <q-page flat dark class="column">
            <q-table
              ref="tableRef"
              :loading="loading"
              dark
              class="col-6 my-sticky-header-table"
              style="height: 50vh"
              color="astro"
              dense
              square
              :visible-columns="['expression', 'status', 'actions']"
              :columns="columns"
              :rows="rows"
              no-data-label="não há expressões de glossário"
              row-key="expression"
              selection="single"
              :filter="filterInput"
              :filter-method="filterStatus"
              v-model:selected="selectedRow"
              :rows-per-page-options="[0]"
              table-class="text-body1 scroll"
              virtual-scroll
              :virtual-scroll-item-size="48"
              :virtual-scroll-sticky-size-start="33"
            >
              <template #header="props">
                <q-tr :props="props">
                  <q-th style="width: 40px"></q-th>
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.label }}
                    <q-btn
                      v-if="col.label === 'Expressão'"
                      dense
                      round
                      size="xs"
                      color="black"
                      text-color="astro"
                      dark
                      icon="mdi-reload"
                      @click="resetAndReload"
                    >
                      <q-tooltip
                        anchor="top middle"
                        self="bottom middle"
                        class="text-body2 bg-black"
                      >
                        recarregar dados
                      </q-tooltip>
                    </q-btn>
                  </q-th>
                </q-tr>
              </template>
              <template v-slot:body-selection="scope"> </template>
              <template #body="props">
                <q-tr key="selection" :props="props">
                  <q-td>
                    <q-icon
                      v-if="props.selected"
                      color="secondary"
                      name="mdi-circle"
                    ></q-icon>
                    <q-icon v-else></q-icon>
                  </q-td>
                  <q-td key="row" :props="props">
                    {{ props.rowIndex + 1 }}
                  </q-td>
                  <q-td key="expression" :props="props">
                    <q-chip
                      :disable="loadingActiveCell && clickedExpression === props.row.expression"
                      title="localizar célula na planilha"
                      clickable
                      square
                      color="dark"
                      dense
                      dark
                      @click="goToGlossaryCell(props.row.expression)"
                      :label="props.row.expression"
                    >
                      <q-inner-loading
                        dark
                        color="astro"
                        class="bg-dark"
                        :showing="loadingActiveCell && clickedExpression === props.row.expression"
                      >
                      </q-inner-loading>
                    </q-chip>
                  </q-td>
                  <q-td
                    key="status"
                    :props="props"
                    :class="[ props.row.id ? 'text-green-13' : 'text-warning']"
                  >
                    {{ props.row.id ? 'gravado' : 'pendente' }}
                    <q-icon
                      dark
                      v-if="props.row.deletable"
                      size="xs"
                      color="grey-3"
                      name="mdi-information-outline"
                    >
                      <q-tooltip
                        max-width="250px"
                        anchor="top middle"
                        self="bottom middle"
                        class="text-body2 bg-black"
                      >
                        esta expressão foi gravada, porém não consta mais na
                        Lista de Glossário da planilha
                      </q-tooltip>
                    </q-icon>
                  </q-td>
                  <q-td key="actions" :props="props">
                    <q-btn
                      v-if="props.row.deletable"
                      title="remover do drive"
                      dense
                      text-color="red"
                      icon="mdi-delete"
                      @click="removeFromDrive(props.row.id, props.rowIndex)"
                    ></q-btn>
                    <div v-else>
                      <q-btn
                        :disable="!props.row.id"
                        title="ouvir"
                        dense
                        :text-color="props.selected && !readyToRecord ? 'positive' : 'grey-5'"
                        :icon="props.selected && isPlaying ? 'mdi-pause' : 'mdi-play'"
                        @click="handleRowPlay(props, $event)"
                      >
                        <q-icon
                          v-if="blobCacheMap[props.row.id]"
                          class="absolute no-pointer-events"
                          style="
                            top: 50%;
                            left: -15px;
                            transform: translate(0, -50%);
                          "
                          color="deep-purple-3"
                          size="16px"
                          name="mdi-ear-hearing"
                        ></q-icon>
                      </q-btn>
                      <q-btn
                        :title="props.row.id ? 'regravar' : 'gravar'"
                        dense
                        :text-color=" props.selected && readyToRecord ? 'red' : 'grey-5'"
                        icon="mdi-microphone"
                        @click="handleRowRecord(props, $event)"
                      ></q-btn>
                    </div>
                  </q-td>
                </q-tr>
              </template>
              <template #bottom>
                <div class="row justify-end full-width">
                  <q-chip
                    outline
                    dark
                    color="warning"
                    v-bind="{...(filterInput === 'pending' && {icon: 'mdi-filter'})}"
                    :clickable="status.pending > 0"
                    dense
                    square
                    label="pendente: "
                    @click="filterInput = 'pending'"
                  >
                    &nbsp;{{ status.pending }}
                  </q-chip>
                  <q-chip
                    outline
                    dark
                    color="green-13"
                    v-bind="{...(filterInput === 'recorded' && {icon: 'mdi-filter'})}"
                    :clickable="status.recorded > 0"
                    dense
                    square
                    label="gravado: "
                    @click="filterInput = 'recorded'"
                  >
                    &nbsp;{{ status.recorded }}
                  </q-chip>
                  <q-chip
                    dark
                    color="purple"
                    v-bind="{...(!filterInput && {icon: 'mdi-filter'})}"
                    :clickable="status.total > 0"
                    dense
                    square
                    label="total: "
                    @click="filterInput = ''"
                    >&nbsp;{{ status.total }}</q-chip
                  >
                </div>
              </template>
            </q-table>
            <!-- WAVESURFER -->
            <div class="col full-width q-pa-md q-gutter-y-sm">
              <q-select
                hide-bottom-space
                dense
                dark
                color="astro"
                v-model="mic"
                class="col"
                :options="micOptions"
                label="Microfone"
                option-label="text"
                option-value="deviceId"
              ></q-select>
              <q-checkbox
                dense
                v-model="autoplay"
                dark
                color="orange"
                keep-color
                class="text-white q-my-md"
                label="tocar automaticamente ao gravar e editar"
              >
              </q-checkbox>
              <div class="row justify-between">
                <div class="q-gutter-x-xs">
                  <q-btn
                    :disable="!readyToRecord"
                    glossy
                    dark
                    dense
                    :icon="recordButtonIcon"
                    :text-color="isRecording ? 'grey-2' : 'red'"
                    :color="isRecording ? 'negative' : ''"
                    @click="startStopRecording"
                  >
                    <q-tooltip
                      anchor="top middle"
                      self="bottom middle"
                      class="text-body2 bg-black"
                    >
                      record/stop
                    </q-tooltip>
                  </q-btn>
                  <q-btn
                    v-if="readyToRecord"
                    dense
                    dark
                    :disable="!recordedURL || !readyToRecord || !activeRegion || noSignal"
                    color="astro"
                    text-color="black"
                    size="md"
                    @click="saveToDrive"
                    icon="mdi-content-save"
                  >
                    <q-tooltip
                      anchor="top middle"
                      self="bottom middle"
                      class="text-body2 bg-black"
                    >
                      salvar [Ctrl+S]
                    </q-tooltip>
                  </q-btn>
                </div>
                <q-chip
                  size="16px"
                  v-bind="{ icon: selectedRow.length ? (readyToRecord ? 'mdi-microphone' : 'mdi-play') : 'mdi-cancel' }"
                  square
                  dark
                  :color="selectedRow.length ? (readyToRecord ? 'negative' : 'positive') : 'grey-8'"
                  class="text-white q-ma-none"
                  >{{ selectedRow[0]?.expression ?? `nenhuma expressão
                  selecionada` }}</q-chip
                >
                <q-btn
                  :disabled="!recordedURL || isRecording"
                  glossy
                  class="q-px-md"
                  dark
                  dense
                  round
                  :icon="playbackButtonIcon"
                  :color="isPlaying ? 'positive' : ''"
                  :text-color="isPlaying ? 'grey-2' : 'positive'"
                  @click="playPause"
                >
                  <q-tooltip
                    anchor="top middle"
                    self="bottom middle"
                    class="text-body2 bg-black"
                  >
                    play/stop
                  </q-tooltip>
                </q-btn>
              </div>
              <div
                tabindex="0"
                ref="micRef"
                id="mic"
                class="col-4 bg-dark text-white relative-position q-mb-md"
                @keydown.space.prevent="playPause"
                @keydown="handleWSKeydown"
                @click="micRef?.focus()"
                @focus="showTips = true"
                @blur="showTips = false"
              >
                <q-chip
                  square
                  outline
                  icon="mdi-alert"
                  v-if="!activeRegion && readyToRecord && recordingDuration !== '00:00.0' && !isRecording"
                  class="no-pointer-events bg-dark text-center absolute-top q-mx-auto"
                  color="grey-4"
                  style="
                    width: fit-content;
                    z-index: 11;
                    pointer-events: none;
                    opacity: 0.9;
                  "
                  >selecione uma região para poder salvar
                </q-chip>
                <span
                  class="bg-black q-px-xs text-caption time-indicator"
                  style="right: 0"
                >
                  {{ recordingDuration }}</span
                >
                <span class="bg-black q-px-xs text-caption time-indicator">
                  {{ currentTime }}</span
                >
                <div
                  v-if="showTips && rows.length"
                  class="text-grey-5 absolute-bottom"
                  style="bottom: -28px"
                >
                  pressione {{readyToRecord ? ' R para gravar/parar, ' : ''}} {{
                  activeRegion ? 'Ctrl+S para salvar, ' : ''}} espaço para
                  pausar ou dar play
                </div>
                <q-inner-loading
                  dark
                  class="bg-dark"
                  style="z-index: 10"
                  :showing="loading"
                >
                  <q-spinner-bars size="50px" color="astro"></q-spinner-bars>
                </q-inner-loading>
              </div>
            </div>
          </q-page>
        </q-page-container>
      </q-layout>
      <q-dialog v-model="notChrome" no-esc-dismiss persistent>
        <q-banner inline-actions class="text-white bg-red text-center">
          <span class="text-h6">
            Este app funciona apenas em navegadores baseados no chrome (Chrome,
            Brave, Edge)</span
          >
        </q-banner>
      </q-dialog>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2/dist/lang/pt-BR.umd.prod.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@7.8.8/dist/wavesurfer.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@7.8.8/dist/plugins/regions.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@7.8.8/dist/plugins/record.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lamejs@1.2.1/lame.all.js"></script>

    <script>
      // --- GENERIC GAS BRIDGE ---
      const gasRun = (functionName, ...args) => {
        return new Promise((resolve, reject) => {
          if (!window.opener) {
            reject('No window.opener found. Is the proxy sidebar open?');
            return;
          }
          const messageId = Math.random().toString(36).substring(2, 11);
          const listener = (event) => {
            if (event.data && event.data.messageId === messageId) {
              window.removeEventListener('message', listener);
              if (event.data.success) resolve(event.data.result);
              else reject(event.data.error);
            }
          };
          window.addEventListener('message', listener);
          window.opener.postMessage({ functionName, args, messageId }, '*');
        });
      };

      const app = Vue.createApp({
        setup() {
          const { ref, onMounted, useTemplateRef, watch, Ref, computed, nextTick } = Vue;
          Quasar.lang.set(Quasar.lang.ptBR);

          const notChrome = ref(true);
          const loading = ref(false);

          const tableRef = useTemplateRef('tableRef');

          const columns = ref([
            {
              name: 'row',
              required: true,
              label: '#',
              align: 'left',
              style: 'width: 20px;',
            },
            {
              name: 'expression',
              field: 'expression',
              label: 'Expressão',
              align: 'left',
              style: 'min-width: 90px;',
              sortable: true,
              sort: (a, b) => a.localeCompare(b),
            },
            {
              name: 'status',
              field: 'id',
              label: 'Status',
              align: 'center',
              style: 'min-width: 60px; max-width: 60px;',
              sortable: true,
              sort: (a, b) => a - b,
            },
            {
              name: 'actions',
              field: 'actions',
              label: 'Ações',
              align: 'center',
              style: 'min-width: 50px; max-width: 50px;',
            },
            {
              name: 'id',
              field: 'id',
              label: 'ID',
              align: 'center',
            },
          ]);

          const rows = ref([]);
          const filterInput = ref('');
          const selectedRow = ref([]);
          const blobCacheMap = ref({});

          function filterStatus(rows, terms, cols, getCellValue) {
            return rows.filter((row) => {
              if (!terms.length) return row;
              return terms === 'pending' ? !row.id : row.id;
            });
          }

          const status = computed(() => {
            const recorded = rows.value.filter((row) => row.id).length;
            const pending = rows.value.filter((row) => !row.id).length;
            const total = rows.value.length;

            return {
              recorded,
              pending,
              total,
            };
          });

          const clickedExpression = ref('');
          const loadingActiveCell = ref(false);

          onMounted(async () => {
            notChrome.value = !navigator.userAgent.includes('Chrome');
            await getGlossaryData();
            await nextTick();
            createWaveSurfer();
            const wsWrapper = ws.value.getWrapper();
            wsWrapper.style.pointerEvents = 'none';

            Quasar.Notify.create({
              message: 'glossário pronto',
              color: 'astro',
              textColor: 'black',
              position: 'bottom-right',
              timeout: 2000
            });
          });

          function handleRowPlay(props, event) {
            resetWS();

            const id = props.row.id;
            updateProgress(0, currentTime);
            toggleRowSelection(props, event);
            readyToRecord.value = false;

            const blob = blobCacheMap.value[id];

            if (blob) {
              const url = URL.createObjectURL(blob);
              ws.value.loadBlob(blob);
              recordedURL.value = url;
              if (!autoplay.value) playPause();
              return;
            }

            loadAudioById(id);
          }

          const readyToRecord = ref(false);

          function handleRowRecord(props, event) {
            resetWS();

            toggleRowSelection(props, event);
            readyToRecord.value = true;
          }

          function handleWSKeydown(e) {
            switch (e.key) {
              case 'r':
                startStopRecording();
                break;
              case 's':
                e.preventDefault();
                if (e.ctrlKey && readyToRecord.value && activeRegion.value) {
                  saveToDrive();
                }
                break;
              default:
                break;
            }
          }

          function resetWS() {
            updateProgress(0, recordingDuration);
            activeRegion.value?.remove();
            activeRegion.value = null;
            ws.value.empty();
            recordedURL.value = '';
            ws.value.getWrapper().style.pointerEvents = 'none';
            micRef.value?.focus();
          }

          function toggleRowSelection(props, event) {
            Object.getOwnPropertyDescriptor(props, 'selected').set(true, event);
          }

          /* WAVESURFER */

          const ws = ref();
          const recordPlugin = ref();
          const regionsPlugin = WaveSurfer.Regions.create();

          const micRef = useTemplateRef('micRef');
          const micOptions = ref([]);
          const recordingDuration = ref('00:00.0');
          const currentTime = ref('00:00.0');
          const mic = ref();
          const noSignal = ref(false);

          const recordButtonIcon = ref('mdi-record');
          const playbackButtonIcon = ref('mdi-play-outline');
          const recordingEnded = ref(false);
          const recordedURL = ref('');

          const autoplay = ref(true);

          const isSaving = ref(false);

          const activeRegion = ref(null);

          const createWaveSurfer = () => {
            ws.value = WaveSurfer.create({
              container: micRef.value ?? '',
              waveColor: '#ffd400',
              progressColor: '#ffd40073',
              barWidth: 2,
              normalize: true,
              hideScrollbar: true,
              sampleRate: 44100,
              plugins: [regionsPlugin],
              url: recordedURL.value,
            });

            ws.value.on('pause', () => {
              playbackButtonIcon.value = 'mdi-play-outline';
              isPlaying.value = false;
            });
            ws.value.on('play', () => {
              playbackButtonIcon.value = 'mdi-pause';
              isPlaying.value = true;
            });
            ws.value.on('timeupdate', (time) =>
              updateProgress(time * 1000, currentTime)
            );
            ws.value.on('ready', (duration) => {
              if (!isRecording.value && autoplay.value && duration > 0.001 && !isSaving.value) {
                ws.value.play().catch(() => {});
              }
              updateProgress(duration * 1000, recordingDuration);
            });
            ws.value?.on('interaction', () => {
              activeRegion.value?.remove();
              activeRegion.value = null;
            });

            // Initialize the Record plugin
            recordPlugin.value = ws.value?.registerPlugin(
              WaveSurfer.Record.create({
                continuousWaveform: true,
                mimeType: 'audio/webm;codecs=opus',
              })
            );

            // Render recorded audio
            recordPlugin.value.on('record-end', (blob) => {
              micRef.value?.focus();
              isRecording.value = false;
              recordingEnded.value = true;
              const recordedUrl = URL.createObjectURL(blob);

              recordedURL.value = recordedUrl;
              ws.value?.setTime(0);

              noSignal.value = !ws.value
                .exportPeaks()[0]
                .some((p) => p > 0.001);
              if (noSignal.value) {
                Quasar.Notify.create({
                  message:
                    'Confira seu microfone! Sinal muito baixo ou inexistente.',
                  color: 'negative',
                  icon: 'mdi-alert',
                });
              }
            });

            recordPlugin.value.on('record-progress', (time) => {
              updateProgress(time, recordingDuration);
            });

            initRegions();
          };

          const { getTrimmedAudioBlob } = useTrimmedAudioBlob();

          function updateProgress(time, target) {
            // time will be in milliseconds, convert it to mm:ss format
            const formattedTime = [
              Math.floor((time % 3600000) / 60000), // minutes
              Math.floor((time % 60000) / 1000), // seconds
              Math.floor((time % 1000) / 100), // milliseconds
            ]
              .map((v, i) => (i < 2 && v < 10 ? '0' + v : v))
              .join(':')
              .replace(/:(\d)$/, '.$1');
            target.value = formattedTime;
          }

          function initRegions() {
            regionsPlugin.enableDragSelection({
              color: 'rgb(237 252 0 / 10%)',
            });

            regionsPlugin.on('region-created', (region) => {
              if (noSignal.value) {
                setTimeout(() => region.remove());
                Quasar.Notify.create({
                  message:
                    'Confira seu microfone! Sinal muito baixo ou inexistente.',
                  color: 'negative',
                  icon: 'mdi-alert',
                });
                return;
              }
              activeRegion.value?.remove();
              activeRegion.value = region;
              micRef.value?.focus();
              region.setContent('região a ser salva');
              autoplay.value && region.play();
            });

            regionsPlugin.on('region-out', (region) => {
              if (region.start > (ws.value?.getCurrentTime() ?? 0)) return;
              ws.value?.pause();
              ws.value?.setTime(region.start);
            });

            regionsPlugin.on('region-updated', (region) => {
              micRef.value?.focus();
              autoplay.value && region.play();
            });
          }

          // Mic selection
          WaveSurfer.Record.getAvailableAudioDevices().then((devices) => {
            devices.forEach((device) => {
              const option = { deviceId: '', text: '' };
              option.deviceId = device.deviceId;
              option.text = device.label || device.deviceId;
              micOptions.value.push(option);

              if (device.label.includes('Default')) {
                mic.value = option;
              }
            });
          });

          const isPlaying = ref(false);
          const isRecording = ref(false);
          watch(isRecording, (value) => {
            if (value) {
              ws.value.getWrapper().style.pointerEvents = 'none';
            } else {
              ws.value.getWrapper().style.pointerEvents = 'unset';
            }
          });

          function startStopRecording() {
            if (!readyToRecord.value) return;

            activeRegion.value?.remove();
            activeRegion.value = null;
            isRecording.value = true;
            if (
              recordPlugin.value?.isRecording() ||
              recordPlugin.value?.isPaused()
            ) {
              recordButtonIcon.value = 'mdi-record';
              recordPlugin.value.stopRecording();
              return;
            }

            recordPlugin.value
              ?.startRecording({ deviceId: mic.value?.deviceId })
              .then(() => {
                recordButtonIcon.value = 'mdi-stop';
              });
          }

          function playPause() {
            if (isRecording.value) {
              startStopRecording();
              return;
            }
            if (!recordedURL.value) return;

            if (activeRegion.value) {
              ws.value?.setTime(activeRegion.value.start);
            }
            ws.value?.playPause().catch(() => {});
          }

          function useTrimmedAudioBlob() {
            async function getTrimmedAudioBlob() {
              const start = activeRegion.value?.start ?? 0;
              const tail = 0.25;
              const end = activeRegion.value.end + tail;

              // Get the audio buffer from wavesurfer
              const buffer = ws.value.getDecodedData();

              if (!buffer) {
                throw new Error('No audio data loaded');
              }

              // Calculate start and end samples
              const sampleRate = buffer.sampleRate;
              const startSample = Math.floor(start * sampleRate);
              const endSample = Math.floor(end * sampleRate);
              const numberOfChannels = buffer.numberOfChannels;

              // Create a new buffer for the trimmed section
              const trimmedBuffer = new AudioContext().createBuffer(
                numberOfChannels,
                endSample - startSample,
                sampleRate
              );

              // Copy the data for each channel
              for (let channel = 0; channel < numberOfChannels; channel++) {
                const channelData = buffer.getChannelData(channel);
                const trimmedData = trimmedBuffer.getChannelData(channel);

                for (let i = 0; i < trimmedData.length; i++) {
                  trimmedData[i] = channelData[i + startSample];
                }
              }

              // Create blob from buffer
              const offlineContext = new OfflineAudioContext(
                numberOfChannels,
                trimmedBuffer.length,
                sampleRate
              );

              const source = offlineContext.createBufferSource();
              source.buffer = trimmedBuffer;
              source.connect(offlineContext.destination);
              source.start();

              // Render and return as blob
              const renderedBuffer = await offlineContext.startRendering();
              const blob = audioBufferToMp3(renderedBuffer);

              activeRegion.value?.remove();
              activeRegion.value = null;
              await ws.value?.loadBlob(blob);
              updateProgress(ws.value.getDuration() * 1000, recordingDuration);
              micRef.value?.focus();

              return blob;
            }

            function audioBufferToMp3(audioBuffer, bitRate = 128) {
              // Configure MP3 encoder
              const mp3encoder = new lamejs.Mp3Encoder(
                audioBuffer.numberOfChannels,
                audioBuffer.sampleRate,
                bitRate
              );

              const channels = [];
              const length = audioBuffer.length;

              // Get audio channels
              for (let i = 0; i < audioBuffer.numberOfChannels; i++) {
                channels.push(audioBuffer.getChannelData(i));
              }

              // Convert Float32Array to Int16Array
              const sampleSize = 1152; // Must be multiple of 576
              const samples = new Int16Array(
                sampleSize * audioBuffer.numberOfChannels
              );
              const mp3Data = [];

              for (let i = 0; i < length; i += sampleSize) {
                // Convert and interleave audio data
                for (let j = 0; j < sampleSize && i + j < length; j++) {
                  for (
                    let channel = 0;
                    channel < audioBuffer.numberOfChannels;
                    channel++
                  ) {
                    const sample = Math.max(
                      -1,
                      Math.min(1, channels[channel][i + j])
                    );
                    const convertedSample =
                      sample < 0 ? sample * 0x8000 : sample * 0x7fff;
                    samples[j * audioBuffer.numberOfChannels + channel] =
                      convertedSample;
                  }
                }

                // Encode samples
                const mp3buf = mp3encoder.encodeBuffer(samples);
                if (mp3buf.length > 0) {
                  mp3Data.push(mp3buf);
                }
              }

              // Finish encoding
              const mp3buf = mp3encoder.flush();
              if (mp3buf.length > 0) {
                mp3Data.push(mp3buf);
              }

              // Convert to blob
              const blob = new Blob(mp3Data, { type: 'audio/mp3' });
              return blob;
            }

            return { getTrimmedAudioBlob };
          }

          function getExcludedExpressionsRecorded(list, driveFilesList) {
            const excludedExpressions = [];
            list = list.flat();

            for (const file of driveFilesList) {
              if (!list.includes(file[0]))
                excludedExpressions.push({
                  expression: file[0],
                  id: file[1],
                  deletable: true,
                });
            }

            return excludedExpressions;
          }

          function resetAndReload() {
            resetWS();
            rows.value = [];
            selectedRow.value = [];
            getGlossaryData();
          }

          const showTips = ref(false);

          /* gas fundtions */
          async function removeFromDrive(id, rowIndex) {
            Quasar.Loading.show({
              message: 'removendo arquivo...',
            });

            try {
              const { isSessionUserTheOwner } = await gasRun('_removeFileFromDrive', id);
              if (!isSessionUserTheOwner)
                Quasar.Notify.create({
                  message:
                    'gravação removida com sucesso, mas por pertencer a outro usuário, foi apenas removida da pasta do glossário e continua no drive do proprietário.',
                  color: 'warning',
                  textColor: 'black',
                  icon: 'mdi-alert',
                  timeout: 0,
                  actions: [{ icon: 'close', color: 'black' }],
                });

              rows.value.splice(rowIndex, 1);
            } catch (e) {
              Quasar.Notify.create({ message: 'Erro ao remover: ' + e, color: 'negative' });
            } finally {
              Quasar.Loading.hide();
            }
          }

          async function goToGlossaryCell(expression) {
            clickedExpression.value = expression;
            loadingActiveCell.value = true;
            try {
              await gasRun('_activateGlossaryCell', expression);
            } catch (e) {
              Quasar.Notify.create({ message: 'Erro ao localizar célula: ' + e, color: 'negative' });
            } finally {
              loadingActiveCell.value = false;
              clickedExpression.value = '';
            }
          }

          async function getGlossaryData() {
            loading.value = true;
            try {
              const { list, recordedMap, driveFilesList } = await gasRun('_getGlossaryData');
              if (!list) {
                rows.value = [];
                loading.value = false;
                return;
              }
              const mappedGlossaryWords = list.map((g) => ({
                expression: g[0],
                id: recordedMap.find((r) => r[0] === g[0])?.[1],
              }));

              const excludedExpressions = getExcludedExpressionsRecorded(
                list,
                driveFilesList
              );

              mappedGlossaryWords.push(...excludedExpressions);

              mappedGlossaryWords.sort(
                (a, b) => a.expression.localeCompare(b.expression),
                'pt-BR',
                { sensitivity: 'base' }
              );
              rows.value = mappedGlossaryWords;
            } catch (e) {
              Quasar.Notify.create({ message: 'Erro ao carregar dados: ' + e, color: 'negative' });
            } finally {
              loading.value = false;
            }
          }

          function dataURLToBlob(dataURL) {
            // Split the data URL into two parts
            const [header, base64Data] = dataURL.split(',');

            // Decode base64 string
            const byteCharacters = atob(base64Data);

            // Create an array for the binary data
            const byteNumbers = new Array(byteCharacters.length);
            for (let i = 0; i < byteCharacters.length; i++) {
              byteNumbers[i] = byteCharacters.charCodeAt(i);
            }

            // Convert array to Uint8Array, then create a Blob
            const byteArray = new Uint8Array(byteNumbers);
            const mimeType = header.match(/:(.*?);/)[1]; // Extract MIME type from data URL
            return new Blob([byteArray], { type: mimeType });
          }

          function blobToDataURL(blob) {
            return new Promise((resolve, reject) => {
              const reader = new FileReader();

              reader.onloadend = () => resolve(reader.result); // Get the data URL when done
              reader.onerror = reject; // Handle errors

              reader.readAsDataURL(blob); // Start reading the blob as a data URL
            });
          }

          async function loadAudioById(id) {
            loading.value = true;
            try {
              const data = await gasRun('_getAudioBlob', id);
              const blob = dataURLToBlob(data);
              const url = URL.createObjectURL(blob);
              ws.value.loadBlob(blob);
              recordedURL.value = url;

              blobCacheMap.value[id] = blob;

              if (!autoplay.value) playPause();
            } catch (e) {
              Quasar.Notify.create({ message: 'Erro ao baixar áudio: ' + e, color: 'negative' });
            } finally {
              loading.value = false;
            }
          }

          async function saveToDrive() {
            loading.value = true;
            readyToRecord.value = false;
            isSaving.value = true;

            Quasar.Loading.show({
              spinner: undefined,
            });

            const id = selectedRow.value[0].id;

            if (id) delete blobCacheMap.value[id];

            try {
              const blob = await getTrimmedAudioBlob();
              const dataURL = await blobToDataURL(blob);
              const expressionObj = selectedRow.value[0];

              // CRITICAL FIX: Convert Vue Proxy/Ref rows to a plain array to avoid DataCloneError
              const plainRows = JSON.parse(JSON.stringify(rows.value));

              const { fileId, isSessionUserTheOwner } = await gasRun('_saveToDrive', dataURL, expressionObj, plainRows);
              
              const index = rows.value.findIndex(
                (o) => o.expression === expressionObj.expression
              );
              rows.value.splice(index, 1, {
                expression: expressionObj.expression,
                id: fileId,
              });

              blobCacheMap.value[fileId] = blob;

              autoplay.value && ws.value.play().catch(() => {});

              if (!isSessionUserTheOwner)
                Quasar.Notify.create({
                  message: 'glossário salvo com sucesso!👍',
                  color: 'positive',
                  icon: 'mdi-check',
                });
              else
                Quasar.Notify.create({
                  message:
                    'glossário salvo com sucesso, mas a gravação anterior, por pertencer a outro usuário, foi apenas removida da pasta do glossário e continua no drive do proprietário.',
                  color: 'warning',
                  textColor: 'black',
                  icon: 'mdi-alert',
                  timeout: 0,
                  actions: [{ icon: 'close', color: 'black' }],
                });
            } catch (error) {
              Quasar.Loading.hide();
              Quasar.Notify.create({
                classes: 'text-white text-bold',
                type: 'negative',
                timeout: 0,
                message: `Oops, deu ruim: ${error}`,
                actions: [{ icon: 'close', color: 'white', round: true }],
              });
            } finally {
              loading.value = false;
              isSaving.value = false;
            }
          }

          return {
            notChrome,
            tableRef,
            loading,
            columns,
            rows,
            selectedRow,
            filterInput,
            filterStatus,
            blobCacheMap,
            status,
            autoplay,
            handleRowPlay,
            handleRowRecord,
            readyToRecord,
            handleWSKeydown,
            loadingActiveCell,
            clickedExpression,
            removeFromDrive,
            /* WAVESURFER */
            noSignal,
            mic,
            micRef,
            micOptions,
            isRecording,
            isPlaying,
            activeRegion,
            recordButtonIcon,
            playbackButtonIcon,
            startStopRecording,
            recordedURL,
            playPause,
            showTips,
            recordingDuration,
            currentTime,
            saveToDrive,
            goToGlossaryCell,
            getGlossaryData,
            resetAndReload,
          };
        },
      });

      app.use(Quasar);
      app.mount('#app');
    </script>
    <style>
      .scroll {
        --scrollbar-color-thumb: #333;
        --scrollbar-color-track: black;
        --scrollbar-width: thin;
        --scrollbar-width-legacy: 0.5rem;
      }

      @supports (scrollbar-width: auto) {
        .scroll {
          scrollbar-color: var(--scrollbar-color-thumb)
            var(--scrollbar-color-track);
          scrollbar-width: var(--scrollbar-width);
        }
      }

      .my-sticky-header-table thead tr th {
        position: sticky;
        /* higher than z-index for td below */
        z-index: 2;
        /* bg color is important; just specify one */
        background: black;
        scroll-padding-top: 33px;
      }

      .my-sticky-header-table thead tr:first-child th {
        top: 0;
      }

      .q-table--loading thead tr:last-child th {
        /* height of all previous header rows */
        top: 33px;
      }

      .bg-dark-page {
        background-color: #121212;
      }

      .bg-astro {
        background-color: #ffd400;
      }

      .text-astro {
        color: #ffd400;
      }

      #mic {
        transition: box-shadow 150ms ease-in-out;
        border-radius: 4px;
      }
      
      #mic:focus,
      #mic:active {
        outline: none;
        box-shadow: 0 0 0px 1px rgb(255 212 0 / 20%),
          0 0 20px -2px rgb(255 212 0 / 50%);
      }

      .time-indicator {
        position: absolute;
        z-index: 11;
        top: 50%;
        translate: 0 -50%;
        pointer-events: none;
      }
    </style>
  </body>
</html>
